$borderBoarder: 5px solid #281b1b;    
$borderAbbott: 5px solid #c16464;    
$borderEy4: 6px solid #da6464;    
$borderBellBoarder: 4px solid #c36666;    
$borderLaPosteBoarder: 3px solid #be8080;    
$borderFossBoarder: 5px solid #d42121;    
$borderNewTestBoarderValue: 3px solid #cd2727;    
$borderKelkioBoarder: 3px solid #a1f72c;    
$borderNewBoarder: 4px solid #e22424;    
$borderName: 4px solid #db5e5e;    
$borderBoarderSn: 3px solid #973434;    
$borderNewOne: 3px solid #bb4242;    
$borderToken1: 4px solid #7d2d2d;    
$borderToken2: 5px solid #ac1111;    
$borderToken3: 3px solid #eb5c5c;    
$borderSnBoarder: 3px solid #972323;    
$borderFsecure: 3px solid #bd3232;    
$borderToken4: 5px solid #000000;    
$borderSnBoarder: 3px solid #c96a6a;    
$borderToken5: 6px solid #b92a2a;    
$borderToken6: 4px solid #b43b3b;    
$borderToken7: 4px solid #781414;    
$borderToken8: 4px solid #a94444;    
$borderToken9: 5px solid #a43d3d;    
$borderToken10: 3px solid #d42121;    
$borderSnBoarder: 4px solid #921717;    
$borderSnBoarder: 5px solid #742121;    
