
:root {
    --borderBoarder: 2px solid #2a6461;    
    --borderBoardeer2: 1px solid #ca8181;    
    --borderRadius: 1px solid #000000;    
    --border4Token: 1px solid #000000;    
    --borderEmplifi: 1px solid #000000;    
    --borderMistetemo: 1px solid #000000;    
    --borderToken7: 1px solid #000000;    
    --borderName: 1px solid #000000;    
    --borderToken9: 1px solid #000000;    
    --borderName: 1px solid #000000;    
    --borderName: 1px solid #000000;    
    --borderToken10: 1px solid #000000;    
    --borderToken11: 1px solid #000000;    
    --borderToken12: 1px solid #000000;    
    --borderBoarder: 1px solid #000000;    
    --borderNewAnme: 1px solid #000000;    
    --borderToken13: 1px solid #000000;    
    --borderToken14: 1px solid #000000;    
    --borderToken16: 1px solid #000000;    
    --borderToken17: 4px solid #6f1f1f;    
    --borderToken18: 4px solid #da2424;    
    --borderMoodyS: var(--borderBoardeer2);    
    --borderToken15: var(--borderNewAnme);    
}