
:root {
    --borderBoarder: 2px solid #2a6461;    
    --borderBoardeer2: 1px solid #ca8181;    
    --borderRadius: 1px solid #000000;    
    --border4Token: 1px solid #000000;    
    --borderEmplifi: 1px solid #000000;    
    --borderMistetemo: 1px solid #000000;    
    --borderToken7: 1px solid #000000;    
}