
:root {
    --borderBoarder: 2px solid #2a6461;    
    --borderBoardeer2: 1px solid #ca8181;    
    --borderRadius: 1px solid #000000;    
    --border4Token: 1px solid #000000;    
    --borderEmplifi: 1px solid #000000;    
    --borderMistetemo: 1px solid #000000;    
    --borderToken7: 1px solid #000000;    
    --borderName: 1px solid #000000;    
    --borderToken9: 1px solid #000000;    
    --borderName: 1px solid #000000;    
    --borderName: 1px solid #000000;    
    --borderToken10: 1px solid #000000;    
    --borderToken11: 1px solid #000000;    
    --borderToken12: 1px solid #000000;    
    --borderBoarder: 1px solid #000000;    
    --borderNewAnme: 1px solid #000000;    
    --borderToken13: 1px solid #000000;    
    --borderToken14: 1px solid #000000;    
    --borderToken16: 1px solid #000000;    
    --borderToken17: 4px solid #6f1f1f;    
    --borderToken18: 4px solid #da2424;    
    --borderToken19: 4px solid #e27171;    
    --borderToken20: 5px solid #dd3f3f;    
    --borderBoarder: 5px solid #281b1b;    
    --borderToken21: 5px solid #e03d3d;    
    --borderName: 3px solid #b53535;    
    --borderToken23: 5px solid #c44747;    
    --borderMlb: 4px solid #000000;    
    --borderToken24: 5px solid #bd5b5b;    
    --borderToken25: 6px solid #ea8181;    
    --borderToken26: 4px solid #db6363;    
    --borderName: 4px solid #d36060;    
    --borderToken27: 5px solid #4c3232;    
    --borderToken28: 6px solid #af5a5a;    
    --borderToken29: 6px solid #ce8e8e;    
    --borderToken30: 5px solid #934c4c;    
    --borderBoarder: 4px solid #c14f4f;    
    --borderLaPoste: 10px solid #ac5b5b;    
    --borderSdWorx: 5px solid #d04c4c;    
    --borderAbbott: 5px solid #c16464;    
    --borderEy4: 6px solid #da6464;    
    --borderToken31: 3px solid #f60b0b;    
    --borderBellBoarder: 4px solid #c36666;    
    --borderLaPosteBoarder: 3px solid #be8080;    
    --borderFossBoarder: 5px solid #d42121;    
    --borderToken32: 5px solid #9e4646;    
    --borderMoodyS: var(--borderBoardeer2);    
    --borderToken15: var(--borderNewAnme);    
    --borderToken22: var(--borderToken12);    
}