$borderAbbott: 5px solid #c16464;    
$borderEy4: 6px solid #da6464;    
$borderBellBoarder: 4px solid #c36666;    
$borderLaPosteBoarder: 3px solid #be8080;    
$borderFossBoarder: 5px solid #d42121;    
$borderBoarder: 5px solid #281b1b;    
$borderNewTestBoarderValue: 3px solid #cd2727;    
$borderKelkioBoarder: 3px solid #a1f72c;    
$borderNewBoarder: 4px solid #e22424;    
$borderName: 4px solid #db5e5e;    
$borderBoarderSn: 3px solid #973434;    
$borderNewOne: 3px solid #bb4242;    
$borderToken1: 4px solid #7d2d2d;    
$borderToken2: 5px solid #ac1111;    
$borderToken3: 3px solid #eb5c5c;    
$borderSnBoarder: 3px solid #972323;    
$borderFsecure: 3px solid #bd3232;    
$borderToken4: 5px solid #000000;    
$borderSnBoarder: 3px solid #c96a6a;    
$borderToken5: 6px solid #b92a2a;    
$borderToken6: 4px solid #b43b3b;    
$borderToken7: 4px solid #781414;    
$borderToken8: 4px solid #a94444;    
$borderToken9: 5px solid #a43d3d;    
$borderToken10: 3px solid #d42121;    
$borderSnBoarder: 4px solid #921717;    
$borderSnBoarder: 5px solid #742121;    
$borderSnBoarder: 4px solid #c05353;    
$borderSnBoarder: 3px solid #a03636;    
$borderSnToken: 3px solid #8f1b1b;    
$borderName: 4px solid #c03232;    
$borderToken11: 3px solid #953e3e;    
$borderToken12: 3px solid #c26161;    
$borderToken13: 1px solid #000000;    
$borderToken14: 4px solid #c16464;    
$borderToken15: 3px solid #581111;    
$borderBoarder: 4px solid #942929;    
$borderToken16: 4px solid #c94f4f;    
$borderToken17: 3px solid #c85757;    
$borderToken18: 3px solid #cd6666;    
$borderToken19: 4px solid #9c4d4d;    
$borderToken20: 3px solid #8e2424;    
$borderToken21: 4px solid #1c1818;    
$borderToken22: 5px solid #901818;    
$borderSnToken: 4px solid #2f2626;    
$borderSn: 3px solid #a02c2c;    
$borderToken23: 3px solid #901d1d;    
$borderToken24: 3px solid #b64646;    
$borderNewToken: 4px solid #c95252;    
$borderSnBorader: 4px solid #b42020;    
$borderToken25: 1px solid #ba3939;    
$borderBoarder: 3px solid #6b1717;    
$borderToken26: 3px solid #b74848;    
$borderBoarder: 3px solid #9a3d3d;    
$borderToken27: 3px solid #000000;    
$borderSnToken: 4px solid #d94a4a;    
$borderBorader: 4px solid #b54c4c;    
$borderToken28: 1px solid #000000;    
$borderBoarder: 4px solid #671d1d;    
$borderToken29: 5px solid #721c1c;    
