$measureDimensionToken1: 10px;    
$measureDimensionToken2: 10px;    
$measureBorderRadiusRadiusToken: 6px;    
$measureBorderRadiusRd: 10px;    
$measureBorderRadiusKelioMeasure: 3px;    
$measureBorderRadiusToken1: 6px;    
